/*html{
	margin:0 160px 0 146px;
}*/
body{
	font: 15px/1.5 Arial, Helvetica,sans-serif;
	background-color: #fff;
	margin:0;
	padding: 0;

}
/*HEADING*/
.container {
	width: 80%;
	margin:auto;
	overflow: hidden;
	min-width: 460px;
}
header {
	background-color: #333536;
	color: white;
	padding-top: 20px;
	min-height: 70px;
}
/*branding header*/
header #branding h1 {
	margin-top:0px;
	padding-top: 0px;
	font-size: 55px;
}
header #branding {
	float: left;
}
/*form*/
header ul{
	margin:0;
	padding:0;
}
header li{
	float:left;
	display: inline;
	padding:0 20px 0 20px;
}
.lang{
	float:left;
	display: inline;
	padding:0 20px 0 20px;
}

.lang 
header form{
	float:right;
	margin-top: 35px;
}
header input {
	border-radius: 2em 2em 2em 2em;
	border: none;
	font-size: 16px;

}
header input[type="submit"] {
	margin-left: 50px;
}
/*language*/
header select{
	border:none;
	border-radius: 22px;
}
/*login botton*/
.button:hover{
	border: none;
	box-shadow: 0px 15px 20px rgba(0,0,0,.3);
	background-color:#97de40 ;
}


/*SECTIONING*/
#showcase {
	background-color: #ebebeb;
	margin-top: 0px;
	padding-bottom: 80px;
}
#showcase h1 {
	margin: 0px;
	font: 90px Helvetica;
	text-align:center;
}
#showcase p{
	font:30px Arial ;
	padding-right: 6%;
	padding-left: 6%;
	font-weight: normal;
}
#showcase .button-1{
	text-transform: uppercase;
	font: 50px Arial;
	cursor: pointer;
	background:transparent;
	border:1px solid white;
	border-radius: 23px;
	filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.25));
}
.teleport-button{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 33px;
	
}
#showcase .button-1:hover{
	box-shadow: 0px 15px 20px rgba(0,0,0,.4);
	background-color:#4bab8f;
}
#highlight img {
	width: 150px;

}
#highlight .img-1{
max-width: 300px;
padding-top: 10px;
}
#highlight .img-1.left{
	float: left;
}

#highlight p{
	margin-bottom: 12px;
	font-size:20px;
	text-align: justify;
	padding-top: 80px;
	;
}
#highlight .img-1.right{
	float: right;
	max-width: 25%;
}


	/*forms to register*/


#signup{
	padding-top: 90px;
	margin-left: 4%;
	float: left;
}
#signup form{
margin-left: 0%;
}

#main-form{
	font-size: 45px;
}
#sub-form-1 input {
	height: 29px;
	text-align: center;
}
#sub-form input{
	width: 352px;
	height: 29px;
	text-align: center;
	font-size: 15px;
}
#signup .button-2{
	margin-left: 4%;
	margin-top: 5px;
	font-size: 30px;
	border-radius: 13px;
	background-color: #4bab8f;
	color: white;
	border:none;
	box-shadow: 0px 8px 15px rgba(0,0,0,.4);
}
#signup .button-2:hover{
	box-shadow: 0px 15px 20px rgba(0,0,0,.4);
	background-color:#525949;
}
/*FOOTING*/
.footer {
	background-color: #333536;
	width: 100%;
	letter-spacing: 2px;

}
#customer-support{
	border-bottom: 2px solid grey;
	margin-right: 180px;
}
footer h2{
	font-size: 40px;
	padding-bottom: 0px;
}



footer .inline {
	width: 25%;
	float: left;
	text-align: left;
}
footer .inline ul{
	margin:0;
	padding: 0;
	list-style: none;
	color:#d3d3d3;	
}
footer .inline ul a{
	text-transform: uppercase;
	text-decoration: none;
	color:gray;
	font-size: 12px;
	color:#d3d3d3;
	margin:0;
	padding:0;
}
footer .inline  p{
	width: 10%;
	display: inline;
	color: #fff;
	margin-bottom: 1px;

}
footer .inline  h1{
	color: #d3d3d3;
	margin-bottom: 1px;
}
footer .footer-items h2{
color: #d3d3d3;
margin-top: 20px;
}
footer .footer-inline  span{
color: #97de40 ;
}footer .social-links ,a{
	font-size: 50px;
	color: #fff;
}
.inline ul{
	margin:0;
	padding:0;
}
.bottom-footer p{
	text-align: center;
	border-top: 2px solid #d3d3d3;
	color: #d3d3d3;
	left:45%;
	padding-top: 10px;
}


/*CLASSES*/
.button{
	background-color: #2d2d30;
	color: white;
	border:3px solid #97de40;
	margin-left: 20px
}
.paragraph-right{
	text-align: right;
	padding-left :150px;
	padding-top: -10px;
	
}
.img-left img {
	float: left;
}
.img-right img {
	float: right;
}

#card{
	float: right;
	background-color: #ebebeb;
	padding:20px 40px 20px 40px;
	margin-right: 2%;
	margin-top: 90px;
}
#card .pepe{
	width: 100px;
	float: left;
}

#card h4{		
	color:#869179;
}
#card p{
	font-size: 20px;
	float: left;
}

			/*.......Payment boxes........*/


#boxes .container h5{

	text-align: center;

	font-size: 75px;
	font-weight: normal;
	color: #869179;
	padding:0;
	margin:0;
}
.box img{
	
	display: inline-block;
	padding: 0 40px 0 40px;
	width: 5%;
	margin-bottom: 5%;
}
.box{
	margin-right: -17%;
	text-align: center;
	padding:0;
	margin:0;
}
#boxes .container {
margin: 0;
padding:0;
}
.social-media {
	color: #fff;
	padding-left: 5px;
	font-size: 35px;
	margin-left:10px;
}
#signup .link-terms a{
	color:lightblue;
	font-size: 15px;
	font-weight: normal;
	text-decoration: none;
}


/* media Queries*/


@media (max-width: 768px){
	header #branding,
	header form,ul,header .lang ,footer .inline ,footer .inline #customer-support 

	{
		float:none;
		text-align: center;
		width: 100%;

	}
	#showcase input{
		text-align: center;
	}
}
@media (max-width: 400px){
	.box img , #boxes h5{
		float:none;
		text-align: center;
		width: 100%;
		padding: auto;
		margin: auto;
	}
	}