<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Survey</title>
    </head>
    <body>
    <nav>
        <h1>Welcome</h1>
        <div>
            <form action="login" method="POST">
                Username <input type="text" name="log_email" >
                Password <input type="password" name="log_password">
                <input type="submit" name="login_button" value="Sign in">
            </form>
        </div>
    </nav>
    <div>
        <form method="POST" action="register">
            <h2> Create new account</h2>
            <input type="text" name="reg_username" placeholder="Username" >
            <input type="email" name="reg_email" placeholder="Email">
            <input type="password" name="reg_password" placeholder="New password"  >
            <input type="password" name="reg_password2" placeholder="Confirm password">
            <input type="submit" name="mezgeb_button" value="Register">
        </form>
    </div>
    </body>
    </html>