/*Navigation Bar*/
.header
{
	background-color: #3987b8;
	box-sizing: border-box;
}
.form-control1 ,.button
{
	box-shadow: 14px 13px 20px rgb(119, 76, 76);
}
.jumbotron
{
	border-bottom-right-radius: 200px;
	background-color: #ebebeb;
	padding-bottom: 80px;

}
.jumbotron h1
{
	padding-top: 0px!important;
	margin: 0px;
	font: 90px Helvetica;
	text-align:center;
}
.jumbotron p
{
	font:30px Arial ;
	padding-right: 6%;
	padding-left: 6%;
	font-weight: normal;
}
.teleport-button .button-1{
	text-transform: uppercase;
	font: 50px Arial;
	cursor: pointer;
	background:transparent;
	border:1px solid white;
	border-radius: 23px;
	filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.25));
}

.teleport-button 
{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 33px;
}
.button-1:hover
{
	box-shadow: 0px 15px 20px rgba(0,0,0,.4);
	background-color:#4bab8f;
}
.col p
{
	padding-top: 15%!important;
}
.card
{
	margin-left: 20px;
	margin-bottom: 20px;
	width: 500px;
}
.p-2 img
{
	width: 150px!important;
}
.p-2 p
{
	color: black;
}
.card-img-top
{
	width: 200px;
}
.border-light 
{
	width: 500px;
}
.border-light {
	margin-left: 20px;
    border-color: #f8f9fa!important;
    box-shadow: 0 0 20px #00000052;
}
.nav-item 
{
	padding-right: 20px;
}
.navbar-brand
{
	padding-left: 20px;
	font-size: 55px;
	text-shadow: 20px 13px 20px black;
}
.form-sec
{
	margin: 30px 0px 30px 80px;
}
.col img
{
	width: 100px;
	padding:0!important;
}
.col{
	text-align: center;
	width: 150px;
}
.d-flex 
{
	background-color: #fff!important;
	margin-left: 20px;
}
.payment
{
	text-align: center;
}
.nav-separet
{
font-size: 25px;

color: #fff;
}
/*live validation*/
.liveValidateMessage {
	transition: all .5s ease-out;
	top: -6px;
	position: absolute;
	z-index: 1;
	padding-top: 6px;
	padding-bottom: 16px;
	opacity: 0;
	transform: translateY(100%)
}
.liveValidateMessage--visible {
	opacity: 1;
	transform: translateY(0)
}

/*
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

*/