<% errors.forEach(function (messages) { 
    %>
    <div class="alert alert-danger text-center"><%=messages%></div>
    <%
}) %>
<% success.forEach(function (messages) { 
    %>
    <div class="alert alert-success text-center"><%=messages%></div>
    <%
}) %>