<footer class="bg-light text-center text-lg-left">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase"><span>SUR</span>VEY</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark"><p><strong>SOCIAL MEDIAS</strong></p></a>
            </li>
            <li>
                <div class="social-links">
                    <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-youtube" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Company</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-dark">About</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Why Us</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Status</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Resorces</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Terms of service</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Privacy policy</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Sitemap</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Testimonies</a>
            </li>
            <li>
                <a href="#!" class="text-dark">FAQ</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Contact Us</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-dark">business inquiries</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Send feedback</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Customer support</a>
            </li>
            <li>
              <a href="#!" class="text-dark">contact@gmail.com</a>
            </li>
            <li>
                <a href="#!" class="text-dark">+251-912-345-678</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <p>SURVEY &copy; 2020, ALL RIGHTS RESERVED.</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script type="module" src="/main.js"></script>
</footer>
</body>
</html>