<%- include('includes/header') %>
<!-- navbar is located in header-->
	
<%- include('includes/flash') %>
<div class="jumbotron jumbotron-fluid">
	<div class="container-fluid">
		<h1>Lorem Epsum</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
		<div class="teleport-button" >
		<a href="#button-2"><input class="button-1" type="button" name="Teleport to register" value=" Sign up now "></a>
		</div>
	</div>
  </div>
	<div class="d-flex p-3 text-white">
		<div class="p-2"><img src="./img/img6.jpg" alt=""></div>
		<div class="p-2 d-flex align-items-center">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
			</p>
		</div>
	</div>

	<div class="d-flex p-3 text-white">
		<div class="p-2 d-flex align-items-center">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
			</p>
		</div>
		<div class="p-2"><img src="./img/img4.jpg" alt=""></div>
	</div>

	<div class="d-flex p-3 text-white">
		<div class="p-2"><img src="./img/img3.jpg" alt=""></div>
		<div class="p-2 d-flex align-items-center">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
			</p>
		</div>
	</div>
<hr>
				<!--forms to register-->
			<div class="row justify-content-between form-sec">
				<div class="col-4">
							
					<form id="registration-form" class="text-center border border-light p-5"  method="POST" action="/register">
						<% regErrors.forEach(function (messages) { 
							%>
							<div class="alert alert-danger"><%=messages%></div>
							<%
						}) %>
						<p class="h4 mb-4">Sign up</p>
						<!-- Username -->
						<div class="form-row mb-4">
							<input type="text" id="username" class="form-control" placeholder="First name">
						</div>
						
						<!-- E-mail -->
						<input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">
					
						<!-- Password -->
						<input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
						<small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
							At least 8 characters and 1 digit
						</small>
					
						<!-- Phone number -->
						<input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock">
						<small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
							Optional - for two step authentication
						</small>
					
						<!-- Newsletter -->
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
							<label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
						</div>
					
						<!-- Sign up button -->
						<button class="btn btn-info my-4 btn-block" type="submit">Sign up</button>
					
						<!-- Social register -->
						<p>or sign up with:</p>
					
						<a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
						<a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
						<a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
						<a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>
					
						<hr>
					
						<!-- Terms of service -->
						<p>By clicking
							<em>Sign up</em> you agree to our
							<a href="" target="_blank">terms of service</a>
					
					</form>
				</div>

				<div class="col-4">

				  	<!--favourite comments-->

					<div class="card" style="width:400px">
						<img class="card-img-top" src="./img/pepe.jpg" alt="Card image">
						<div class="card-body">
						  <h3 class="card-title">Dr.Pepe</h3>
						  <h4 class="card-title">CEO at pied piper</h4>
						  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
							sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
						  <a href="#" class="btn btn-secondary">See Profile</a>
						</div>
					  </div>

				</div>
			  </div>
<hr>
	
				
		
<h1 class="payment">We Pay You Via</h1>
<!--payment logos-->
	<div class="d-flex align-items-start bg-light mb-3" >
		<div class="col"><img src="./img/master.jpg"></div>
		<div class="col"><img src="./img/visa.jpg"></div>
		<div class="col"><img src="./img/american.jpg"></div>
		<div class="col"><img src="./img/skrill.jpg"></div>
	</div>

<%- include('includes/footer') %>
